
.term span{
    font-size: 1.3rem;
}

.term a{
    font-size: 1.3rem;
}

.sign-up{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
}

.acc-has-been-created button{
    width: 100%;
    height: 3rem;
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}
.owned-acc{
    text-align: center;
    
}

.owned-acc a{
    font-size: 1.2rem;
}

.owned-acc span{
    font-size: 1.2rem;
}